@keyframes slideUp {
    0% {
        bottom: -50%;
    }

    100% {
        bottom: 0;
    }
}

@keyframes slideLeft {
    0% {
        left: -50%;
    }

    100% {
        left: 0;
    }
}

body {
    background-color: white;
    min-width: 375px;
    max-width: 1900px;
    margin: 0 auto;
    position: relative;
    flex-grow: 1;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
}

[class*='ground-pane'] {
    filter: grayscale(1)
}

@media screen and (min-width: 750px) {
    [class*='ground-pane'] {
        filter: none;
    }
}


[class*='balloon'] {
    border-radius: 20px;
}

[class*='gotoymaps'] {
    display: none !important;
    ;
}

[class*='gototaxi'] {
    display: none !important;
    ;
}

[class*='gototech'] {
    display: none !important;
}

/* [class*="copyrights-pane"] {
    display: none !important;
  } */

/* header */

.header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

@media screen and (min-width: 750px) {
    .header {
        background-color: black;
        width: 100%;
    }
}

.header__main {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header__logo {
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 50%;
}


@media screen and (min-width: 750px) {
    .header__title {
        color: #ffff;
    }

    .header__main {
        padding-left: 30px;
    }
}



.header__nav-burger {
    background-color: inherit;
    background-image: url('./images/icon-menu-burger.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.header__item {
    padding-right: 30px;
    text-decoration: none;
    color: #ffff;
}

.header__nav {
    align-items: center;
    text-align: center;
    padding-top: 15px;
}

@media screen and (min-width: 750px) {
    .header__nav-burger {
        display: none;
    }
}




/* Content */

.bunner {
    width: 95%;
    height: 80px;
    background-color: grey;
    margin: 0 auto;
}

@media screen and (min-width: 750px) {
    .bunner {
        width: 100%;
    }
}

.title {
    font-size: 20px;
    margin-left: 10px;
}

@media screen and (min-width: 750px) {
    .title {
        font-size: 34px;
        border-bottom: 1px solid gainsboro;
        margin-left: 0;
        padding-left: 20px;
        margin-bottom: 0;
        padding-bottom: 25px;
    }
}

@media screen and (min-width: 1024px) {
    .title {
        font-size: 55px;
    }
}


.filter-buttons {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

@media screen and (min-width: 750px) {
    .filter-buttons {
        display: none;
    }
}

.filter-buttons__button {
    background-color: inherit;
    border-radius: 4px;
    border: 1px solid gray;
    height: 30px;
    min-width: 150px;
    background-image: url('./images/icon-filter-button.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 30px;
    margin-bottom: 15px;
}

.filter-buttons__button:hover {
    cursor: pointer;
    background-color: #aaa;
}

.filters-checked {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px 10px;
}

@media screen and (min-width: 750px) {
    .filters-checked {
        position: absolute;
        z-index: 3;
        top: 265px;
        left: 50%;
    }
    .filters-checked__city {
        display: none;
    }
}

.partners__filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



@media screen and (max-width: 750px) {
    .partners__filter-buttons {
        display: none;
    }
}

.filters-checked__partners {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 4px 0 0;
    padding: 0;
    flex-direction: row;
    gap: 4px;
}



.map__container {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.partners {
    box-sizing: border-box;
    min-width: 30%;
    max-height: 90%;
    padding: 20px;
    position: relative;
}

.partners__container {
    box-sizing: border-box;
    max-height: 93vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (min-width: 750px) {
    .map {
        display: flex;
        flex-direction: row;
        padding-left: 10px;
    }
}

.map__button {
    position: absolute;
    z-index: 2;
    top: 78%;
    right: 2%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid gray;
    height: 35px;
    background-image: url('./images/icon-list-partners.svg');
    background-repeat: no-repeat;
    background-position: 5% 50%;
    padding-left: 30px;
}

@media screen and (min-width: 750px) {
    .map__button {
        display: none;
    }
}

.footer {
    width: 100%;
    height: 30px;
    background-color: grey;
    z-index: 2;
}

@media screen and (min-width: 750px) {
    .footer {
        background-color: black;
        color: #ffff;
    }
}

/* POPUP */

.popup-menu__close {
    background-color: inherit;
    background-image: url('./images/icon-popup-close.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.popup-menu {
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: white;
}

.popup-menu__main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-menu__item {
    text-decoration: none;
    cursor: pointer;
    color: black;

}

.popup-filter {
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.popup-filter__content {
    box-sizing: border-box;
    background-color: #fefefe;
    padding: 20px;
    padding-top: 0;
    width: 100vw;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    animation: slideUp 0.5s ease-in-out forwards;
    max-height: 80%;
    min-height: 30%;
    overflow: auto;
}

@media screen and (min-width: 750px) {
    .popup-filter__content {
        animation: slideLeft 0.5s ease-in-out forwards;
        width: 30vw;
        bottom: 0;
        max-height: 70%;
        min-height: 70%;
        width: 33vw;
    }
}

.popup-filter__del-button {
    font-size: 16px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    background-color: inherit;
}

.popup-filter__close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-filter__close-button:hover,
.popup-filter__close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-filter__cities-list {
    list-style: none;
}

.popup-filter__city {
    cursor: pointer;
    margin-top: 10px;
}

.popup-filter__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    row-gap: 10px;
}

.popup-filter__engine-checkbox {
    display: none;
}

.popup-filter__partners-checkbox {
    display: none;
}

.popup-filter__label-span {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border-radius: 16px;
    background-color: #C4C4C4;
    margin: 0;
    padding: 4px 12px;
    max-height: 30px;
    box-sizing: border-box;
}

.popup-filter__partners-checkbox:checked+.popup-filter__label-span {
    background-color: #4A4A4A;
    color: white;
}

.popup-filter__engine-checkbox:checked+.popup-filter__label-span {
    background-color: #4A4A4A;
    color: white;
}


.popup-filter__submit-button {
    margin: 20px 0;
    background-color: white;
    border-radius: 4px;
    border: 1px solid gray;
    height: 35px;
    width: 100%;
}

/* Стили для кнопки переключения */
.popup-filter__toggle {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.popup-filter__toggle .popup-filter__input-slider {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Стили для внешнего вида бегунка */
.popup-filter__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.popup-filter__slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.popup-filter__input-slider:checked+.popup-filter__slider {
    background-color: #2196F3;
}

.popup-filter__input-slider:focus+.popup-filter__slider {
    box-shadow: 0 0 1px #2196F3;
}

.popup-filter__input-slider:checked+.popup-filter__slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.popup-filter__slider.round {
    border-radius: 34px;
}

.popup-filter__slider.round:before {
    box-sizing: border-box;
    border-radius: 50%;
}

.popup-filter__slider-title {
    margin-left: 10px;
}

.popup-filter__partners-list {
    list-style: none;
    padding: 0;
}

.popup-filter__store {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    width: 100%;
}

.popup-filter__store-info {
    margin: 5px;
}

@media screen and (max-width: 750px) {
    .header__nav {
        display: none;
    }

    .partners {
        display: none;
    }
}